@using System.Text.Json
@rendermode InteractiveServer
<div class="custom-select-client">
	<div class="select-displayed-value"
		 data-value="@SelectedId"
		 @onclick="ToggleMenu"
		 @onblur="HandleBlur"
		 id="ClientSelector" tabindex="0">

		<span style="color:var(--yellow);"><AccountBox /></span>
		<span id="content" class="flex-grow-1 text_md">@_selectedName</span>
		<KeyboardArrowDown />
	</div>

	<ul class="select-options-list @(_isMenuOpen ? "show":"")" id="ClientOptions">
		@if (Clients.Count < 1)
		{
			<li data-value="0">Nenhum cliente encontrado</li>
		}
		else
		{
			@foreach (var client in Clients)
			{
				<li data-value="@client.ID" @onclick="() => SelectClient(client)">@client.Name</li>
			}
		}
	</ul>
</div>

@code {
	[Inject]
	private IHttpClientFactory _httpClientFactory { get; set; } = default!;
	public List<ClientDto> Clients { get; set; } = [];

	[Parameter]
	public int SelectedId { get; set; }

	[Parameter]
	public EventCallback<int> SelectedIdChanged { get; set; }

	private string _selectedName = "Selecione o Cliente";
	private bool _isMenuOpen = false;

	protected override async Task OnInitializedAsync()
	{
		await LoadClientsAsync();
	}

	private async Task LoadClientsAsync()
	{
		try
		{
			var httpClient = _httpClientFactory.CreateClient("API");
			var response = await httpClient.GetAsync("client/get_all");

			if (response.IsSuccessStatusCode)
			{
				var content = await response.Content.ReadAsStringAsync();
				Clients = JsonSerializer.Deserialize<List<ClientDto>>(content, new JsonSerializerOptions { PropertyNameCaseInsensitive = true }) ?? [];
			}
			else
			{
				Console.WriteLine($"Erro ao carregar os dados: {response.StatusCode}");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Houve uma exceção ao carregar funcionários: ${ex.Message}");
		}
	}

	private async Task SelectClient(ClientDto client)
	{
		if (SelectedId != client.ID)
		{
			SelectedId = client.ID;
			_selectedName = client.Name;

			await SelectedIdChanged.InvokeAsync(SelectedId);
		}
		_isMenuOpen = false;
	}

	private void ToggleMenu()
	{
		_isMenuOpen = true;
	}

	private async Task HandleBlur()
	{
		await Task.Delay(100);
		_isMenuOpen = false;
	}
}
