<label class="time-selector" aria-disabled="@(Disabled? "true": "false")">
	<input class="input-select"
		   type="radio"
		   name="@Name"
		   value="@Time"
		   @onchange="HandleChange"
		   checked="@IsSelected"
		   disabled=@Disabled />
	<span class="text_md">@Time</span>
</label>

@code {
	[Parameter]
	public string Name { get; set; } = string.Empty;
	[Parameter]
	public bool Disabled { get; set; } = false;
	[Parameter]
	public string Time { get; set; } = "00:00";

	[Parameter]
	public bool IsSelected { get; set; }

	[Parameter]
	public EventCallback<string> TimeSelected { get; set; }

	private Task HandleChange()
	{
		return TimeSelected.InvokeAsync(Time);
	}
}